{{- if eq .chezmoi.hostname "orchid" -}}
;; --------------- General -------------------------------
(setq inhibit-startup-message t) ;; don't show startup screen
(setq column-number-mode t) ;; show current column
(setq mouse-yank-at-point t) ;; allow insert with middle mouse button
(set-frame-font "InconsolataLGC Nerd Font-11")
(set-language-environment "UTF-8")
(fset 'yes-or-no-p 'y-or-n-p)
(setq require-final-newline 'query)
(add-hook 'write-file-hooks 'delete-trailing-whitespace)
;; Parenthesis Highlighting
(require 'paren)
(setq blink-matching-paren t)
(setq blink-matching-paren-on-screen t)
(setq show-paren-style 'expression)
(setq blink-matching-paren-dont-ignore-comments t)
;; Useful Key Bindings
(global-set-key (kbd "<f5>") 'goto-line)
(global-set-key (kbd "<f7>") 'previous-buffer)
(global-set-key (kbd "S-<f7>") 'next-buffer)
(global-set-key (kbd "<f8>") 'kill-this-buffer)
(global-set-key (kbd "<f9>") 'query-replace)
(global-set-key (kbd "S-<f9>") 'query-replace-regexp)
;; Spelling
(setq ispell-dictionary "british")
;; White Space handling
(require 'whitespace)
(setq whitespace-style '(trailing tabs newline tab-mark newline-mark))
(setq-default indent-tabs-mode nil)
(global-display-line-numbers-mode 1)
(setq display-line-numbers-type 'relative)
;; show fill column indicator at col 99 (based on rust convention)
(add-hook 'text-mode-hook #'display-fill-column-indicator-mode)
;; --------------- ORG -- -------------------------------
(require 'org)
;; --------------- AUCTeX -------------------------------
(setq TeX-auto-save t)
(setq TeX-parse-self t)
(setq-default TeX-master nil)
;; --------------- MELPA --------------------------------
(require 'package)
(let* ((no-ssl (and (memq system-type '(windows-nt ms-dos))
                    (not (gnutls-available-p))))
       (proto (if no-ssl "http" "https")))
  (when no-ssl
    (warn "\
Your version of Emacs does not support SSL connections,
which is unsafe because it allows man-in-the-middle attacks.
There are two things you can do about this warning:
1. Install an Emacs version that does support SSL and be safe.
2. Remove this warning from your init file so you won't see it again."))
  ;; Comment/uncomment these two lines to enable/disable MELPA and MELPA Stable as desired
  (add-to-list 'package-archives (cons "melpa" (concat proto "://melpa.org/packages/")) t)
  ;;(add-to-list 'package-archives (cons "melpa-stable" (concat proto "://stable.melpa.org/packages/")) t)
  (when (< emacs-major-version 24)
    ;; For important compatibility libraries like cl-lib
    (add-to-list 'package-archives (cons "gnu" (concat proto "://elpa.gnu.org/packages/")))))
(package-initialize)
;; --------------- reStructuredText ----------------------
(setq auto-mode-alist
      (append '(("\\.txt$" . rst-mode)
                ("\\.rst$" . rst-mode)
                ("\\.rest$" . rst-mode)) auto-mode-alist))
;; --------------- Markdown ------------------------------
;; Snippet to properly render MD through impatient-mode.
;; impatient-mode rendering is found at localhost:8080/imp
;; activate with the following on MD src buffer:
;;    M-x httpd-start
;;    M-x impatient-mode
;;    M-x imp-set-user-filter RET markdown-html RET
(defun markdown-html (buffer)
  (princ (with-current-buffer buffer
    (format "<!DOCTYPE html><html><title>Impatient Markdown</title><xmp theme=\"united\" style=\"display:none;\"> %s  </xmp><script src=\"http://strapdownjs.com/v/0.2/strapdown.js\"></script></html>" (buffer-substring-no-properties (point-min) (point-max))))
         (current-buffer)))
;; auto start impatient mode
(setq auto-mode-alist
      (append '(("\\.md$" . impatient-mode)) auto-mode-alist))
;; --------------- Plain Text ----------------------------
(add-hook 'text-mode-hook 'flyspell-mode)

;; --------------- CSV Files ----------------------------
(add-hook 'csv-mode-hook 'csv-guess-set-separator)
;; --------------- AUTO-SECTION / DON'T EDIT -------------
(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(csv-separators '("," "	" ";"))
 '(custom-enabled-themes '(arc-dark))
 '(custom-safe-themes
   '("24fc62afe2e5f0609e436aa2427b396adf9a958a8fa660edbaab5fb13c08aae6" default))
 '(display-fill-column-indicator-column 99)
 '(package-selected-packages
   '(csv-mode arc-dark-theme impatient-mode dockerfile-mode sphinx-mode salt-mode terraform-mode auctex flymd yaml-mode)))
(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )
{{- end }}
