{{- if eq .chezmoi.hostname "orchid" -}}
#!/bin/sh

# the staged invocation with the sleep command is a hack,
# since my dock apparently cannot turn on two displays simultaneously :-(

xrandr \
    --output eDP-1 --mode 1920x1080 --pos 0x360 --rotate normal \
    --output DP-1 --off \
    --output DP-2 --off \
    --output DP-2-1 --off \
    --output DP-2-2 --primary --mode 2560x1440 --pos 1920x0 --rotate normal \
    --output DP-2-3 --off \
    --output HDMI-1 --off \
    --output HDMI-2 --off

sleep 1

xrandr \
    --output eDP-1 --mode 1920x1080 --pos 0x360 --rotate normal \
    --output DP-1 --off \
    --output DP-2 --off \
    --output DP-2-1 --off \
    --output DP-2-2 --primary --mode 2560x1440 --pos 1920x0 --rotate normal \
    --output DP-2-3 --mode 2560x1440 --pos 4480x0 --rotate normal \
    --output HDMI-1 --off \
    --output HDMI-2 --off

# now reset wallpaper (TODO: consider sourcing the file from elsewhere)
feh --bg-scale --no-fehbg /home/jonas/style/ioki-style/ioki-wallpaper-neon.png
{{- end }}
