{{- if eq .chezmoi.hostname "orchid" -}}
#!/bin/sh
xrandr \
    --output eDP-1 --mode 1920x1080 --pos 0x1080 --rotate normal \
    --output DP-1 --off \
    --output DP-2 --off \
    --output DP-2-1 --off \
    --output DP-2-2 --off \
    --output DP-2-3 --off \
    --output HDMI-1 --off \
    --output HDMI-2 --primary --mode 3840x2160 --pos 1920x0 --rotate normal

# now reset wallpaper (TODO: consider sourcing the file from elsewhere)
feh --bg-scale --no-fehbg /home/jonas/style/ioki-style/ioki-wallpaper-neon.png
{{- end }}
